
.articleItem h4 {
    font-size : 20px;
}

.articleData h2 {
    text-align : center;
}

.articleData h3 {
    color : #777777;
    text-align : center;
    font-size : 24px;
}

.operPanel .scriptTitle {
    padding : 10px 5px 10px 5px;
    text-align : right;
}

.operPanel select {
    float : right;
    display : inline-block;
    margin : 5px;
}

.operPanel label {
    float : right;
    display : inline-block;
    padding : 3px;
    margin : 5px 0px 0px 0px;

    text-align : center;
    vertical-align : middle;
}

.operPanel a {
    float : right;
    display : inline-block;
    margin : 5px;
    padding : 3px;

    color : #5b5b5b;
    text-decoration : none;
    text-align : center;
    border : 1px solid #dddddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.operPanel a:hover {
    color : black;
    background : #f6d1ac;
}

.userMsg {
    margin : 20px 5px 10px 5px;
    padding-bottom : 10px;

    border-bottom : 1px solid #dddddd;
}

.userMsg img {
    float : left;
    width : 80px;
    height : 80px;
}

.userMsg .msCrTime {
    float : right;
}

.userMsg .reply {
    margin-top : 10px;
}

.chapterShow {
    text-align : center;
}
