.articleData h2 {
    text-align : center;
}

.articleData h3 {
    color : #777777;
    text-align : center;
}

.operPanel select {
    float : right;
    display : inline-block;
    margin : 5px;
}

.operPanel a {
    float : right;
    display : inline-block;
    margin : 5px;
    padding : 5px;

    color : white;
    text-decoration : none;
    text-align : center;
    background : #0099cc;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.operPanel a:hover {
    background : #006080;
}

.userMsg {
    margin-top : 20px;
}

.userMsg img {
    float : left;
}
