body {
    font-family : Microsoft JhengHei;
}

#header .nav {
    background : #fff7e8;
    border-top : 1px solid #DDDDDD;
    border-bottom : 1px solid #DDDDDD;
    font-weight : bold;
}

#header .nav a {
    display : inline-block;
    padding : 10px;

    color : #5b5b5b;
    text-decoration : none;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

#header .nav a:hover {
    /* background : #666666; */
}

#header .nav a.nowChoose {
    color : black;
    background : #F6D1AC;
    font-weight : bold;
}

#header .nav a.rightNav {
    float : right;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffbd45+0,fff7e8+100 */
    background: #ffbd45; /* Old browsers */
    background: -moz-linear-gradient(top, #ffbd45 0%, #fff7e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffbd45 0%,#fff7e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffbd45 0%,#fff7e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbd45', endColorstr='#fff7e8',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#header .nav a.rightNav div.bottom-arrow {
    display : inline-block;
    float : right;
    position : relative;
    margin-left : 5px;
    top : 5px;
    width: 0; 
    height: 0; 

    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
}

#header .nav a.login {
    float : right;
    padding : 5px 15px 5px 15px;
    margin-top : 5px;

    border : 1px solid #DDDDDD;
    background : white;
}


#header .nav a.rightNavHover {
    /* background : #666666; */
}

#header > span {
    float : right;
    display : inline-block;
    vertical-align : bottom;
}

#header .floatPanel {
    display : none;
    position : absolute;
    padding : 8px;
    width : 250px;

    background : #ffffff;
    border: 1px solid #dddddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index : 5;
}


#header .floatPanel h3 {
    position : relative;
    top : -10px;
    margin : 0;
    padding : 5px 5px 10px 5px;

    text-align : center;
    border-bottom : 1px solid #dddddd;
}

#header .floatPanel div.top-arrow {
    position : relative;
    top : -22px;
    left : 200px;
    width : 0;
    height : 0;
    border-style : solid;
    border-width : 0 15px 15px 15px;
    border-color : transparent transparent #dddddd transparent; 
}

#header .floatPanel span {
    display : inline-block;
    margin-top : 5px;
}

#header .floatPanel input.input {
    margin-top : 5px;
    padding : 3px;

    color : black;
    border : 1px solid #dddddd;
}

#header .floatPanel input[type=checkbox] {
    margin : 3px;
}

#header .floatPanel button {
    padding : 3px;
    margin : 10px 0px 10px 0px;
    background : #ffffff;
    /*box-shadow : 0px 0px 3px 3px #b3e7ff;*/
    border : 1px solid #dddddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#header .floatPanel button:hover {
    color : white;
    background : #f6d1ac;
}

#header .floatPanel a.forget {
    position : relative;
    left : 80px;
    margin : 15px;

    color : white;
    text-decoration : none;
    border-bottom : 1px solid white;
}

#header .floatPanel a.register {
    padding : 3px;
    margin : 10px 0px 10px 0px;

    color : black;
    text-decoration : none;
    text-align : center;
    background : #ffffff;
    /*box-shadow : 0px 0px 3px 3px #b3e7ff;*/
    border : 1px solid #dddddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#header .floatPanel a.register:hover {
    color : white;
    background : #f6d1ac;
}

#header .floatPanel a.forget {
    display : inline-block;
    padding : 3px;
    color : #444444;
}

#header .floatPanel a.forget:hover {
    color : #222222;
    text-decoration : underline;
}
