.mySeries .operating button {
    display : inline-block;
    padding : 8px;

    color : white;
    text-decoration : none;
    text-align : center;
    background : #0099cc;
    border : 0px solid transparent;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

.mySeries .operating button:hover {
    background : #006080;
}
