#pager {
    padding-right : 10%;

    font-size : 18px;
    text-align : right;
}

#pager a {
    display : inline-block;
    padding : 3px 10px 3px 10px;

    text-decoration : none;
    border : 1px solid #dddddd;
}

#pager a:hover {
    color : black;
    background : #f6d1ac;
}

#pager a.left-arrow {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#pager a.right-arrow {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#pager label {
    display : inline-block;
    padding : 3px 10px 3px 10px;

    background : #f6d1ac;
}
