.userContent div {
    margin-top : 15px;
}

.userContent img {
    float : left;
}

.userContent input {
    padding : 5px;
    border : 1px solid #aaaaaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.userContent input:focus {
    box-shadow : 0px 0px 5px 0px #80dfff
}

.userContent button {
    display : inline-block;
    margin : 15px 0px 10px 10px;
    padding : 8px;

    color : black;
    text-decoration : none;
    text-align : center;
    background : white;
    border : 1px solid #dddddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.userContent button.personal {
    margin : 0px 0px 10px 10px;
}

.userContent button:hover {
    background : #f6d1ac;
}
