<script id="addSeriesTem" type="text/template">
    <ol class="breadcrumb">
        <li><a href="index.html">首页</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li class="active">系列新增</li>
    </ol>
    <form id="addSeriesForm" action="instr.php" method="post">
        <input type="hidden" name="instr" value="seriesAdd" />
        <div class="col-xs-12">
            <label class="col-xs-3">系列新名称 : </label>
            <input class="col-xs-6" type="text" name="seriesName" />
            <br />
        </div>
        <button>新增</button>
    </form>
</script>
