<script id="contentTem" type="text/template">
    <div class="operPanel col-xs-12">
        <% 
        var prevCh = {};
        prevCh['aid'] = 0;
        var nextCh = {};
        nextCh['aid'] = 0;
        %>
        <% if(typeof(articles) == "undefined") { 
            } else {
            var counter = 1;
        %>
        <select class="col-sm-2" name="selectCh">
            <option>选择章节</option>
        <% _.each(articles, function(item) { %>
            <option value="<%=item['a_id']%>">Ch<%=counter++%> <%=item['a_aTitle']%></option>
        <% }); %>
            <!--
            <option>Ch4 章節標題</option>
            <option>Ch5 章節標題</option>
            -->
        </select>
        <% 
        for(var i = 0; i < articles.length-1;++i) {
            if(articles[i]['a_id'] == data['a_id'] && i == 0) {
                prevCh['aid'] = articles[i]['a_id'];
                break;
            }
            else if(articles[i+1]['a_id'] == data['a_id']) {
                prevCh['aid'] = articles[i]['a_id'];
                break;
            }
        }
        for(var i = articles.length-1;i > 0;--i) {
            if(articles[i]['a_id'] == data['a_id'] && i == articles.length-1) {
                nextCh['aid'] = articles[i]['a_id'];
                break;
            }
            else if(articles[i-1]['a_id'] == data['a_id']) {
                nextCh['aid'] = articles[i]['a_id'];
                break;
            }
        }
        %>
        <a class="col-sm-2" href="#article/<%=nextCh['aid']%>/1">後一章节</a>
        <a class="col-sm-2" href="#article/<%=(prevCh['aid']!=0?prevCh['aid']:data['a_id'])%>/1">前一章节</a>
        <!-- <a class="col-sm-2" href="#">全文显示</a> -->
        <% } %>
        <a class="col-sm-1" href="#pressPraise/<%=data['a_id']%>">点赞</a>
        <br />
        <span class="subscriptShow col-sm-12">
            <a class="col-sm-2" href="#subscript/mid/<%=data['m_id']%>">該篇作者</a>
            <% if(data['asid'] != "0") { %>
            <a class="col-sm-2" href="#subscript/asid/<%=data['asid']%>">該篇系列</a>
            <% } %>
            <a class="col-sm-2" href="#subscript/aid/<%=data['a_id']%>">
            <% if(isSubScript) { %>
                已訂閱文章
            <% } else { %>
                該篇文章
            <% } %>
            </a>
            <label class="col-sm-2">訂閱</label>
            <a class="col-sm-2" href="#bookmark/<%=data['a_id']%>">
            <% if(isBook) { %>
                已收藏
            <% } else { %>
                收藏此章節
            <% } %>
            </a>
            <label class="col-sm-1">書籤</label>
        </span>
    </div>
    <div class="articleItem">
        <% if($.trim(data['as_name']) != "") { %>
        系列：<label><%=data['as_name']%></label>
        <% } %>
        分級：<label><%=data['a_level']%></label> 
        属性：<label><%=(data['a_attr']=="article"?"文":"推文")%></label> 
        章节：<label><%=data['a_chapter']%> / <%=data['at_lastCh']!=0?data['at_lastCh']:"?"%></label>
        更新日期：<label><%=data['a_crtime']%></label> <br />
        <h4>主CP：<%=data['a_mainCp']%></h4>
        <h4>主CP2：<%=data['a_mainCp2']%></h4>
        <h4>副CP：<%=data['a_subCp']%></h4>
        <h4>警告：<%=data['a_alert']%></h4>
        <h4>标签：<%=data['a_tag']%></h4>
        <span class="col-xs-6">
        <% if(data['as_finally'] != null) { %>
            章节：<label><%=data['a_chapter']%>/<%=data['as_finally']%></label> 
        <% } %>
            赞：<label><%=data['praiseAmount']%></label> 
            点击数：<label><%=data['a_clickCount']%></label> 
            收藏数：<label><%=data['bookmarkCount']%></label> 
            订阅数：<label><%=data['subscriptCount']%></label> 
        </span><br />
    </div>
    <div class="articleData">
        <hr />
        <h2><%=data['at_title']%></h2>
        <h3><%=data['m_user']%><!--作者名称--></h3>
        <label class="chapterShow col-xs-12">第<%=data['a_chapter']%>章&nbsp;&nbsp;&nbsp;&nbsp;<%=data['a_aTitle']%> </label>
        <% if(data['a_memo'] != null) { %>
        <div class="memo">
            <hr />
            <h5>章节备注</h5>
            <%=data['a_memo']%>
        </div>
        <% } %>
        <hr />
        <div class="articleContent">
            <%=data['a_content']%>
        </div>
    </div>
    <div class="operPanel col-xs-12">
        <% 
        var prevCh = {};
        prevCh['chapter'] = 0;
        prevCh['aid'] = 0;
        var nextCh = {};
        nextCh['chapter'] = 9999999;
        nextCh['aid'] = 0;
        %>
        <% if(typeof(articles) == "undefined") { 
            } else {
        %>
        <select class="col-sm-2" name="selectCh">
            <option>选择章节</option>
        <% _.each(articles, function(item) { %>
            <option value="<%=item['a_id']%>"><%=item['a_aTitle']%></option>
        <% }); %>
            <!--
            <option>Ch4 章節標題</option>
            <option>Ch5 章節標題</option>
            -->
        </select>
        <% 
        for(var i = 0; i < articles.length-1;++i) {
            if(articles[i]['a_id'] == data['a_id'] && i == 0) {
                prevCh['aid'] = articles[i]['a_id'];
                break;
            }
            else if(articles[i+1]['a_id'] == data['a_id']) {
                prevCh['aid'] = articles[i]['a_id'];
                break;
            }
        }
        for(var i = articles.length-1;i > 0;--i) {
            if(articles[i]['a_id'] == data['a_id'] && i == articles.length-1) {
                nextCh['aid'] = articles[i]['a_id'];
                break;
            }
            else if(articles[i-1]['a_id'] == data['a_id']) {
                nextCh['aid'] = articles[i]['a_id'];
                break;
            }
        }
        %>
        <a class="col-sm-2" href="#article/<%=nextCh['aid']%>/1">後一章节</a>
        <a class="col-sm-2" href="#article/<%=(prevCh['aid']!=0?prevCh['aid']:data['a_id'])%>/1">前一章节</a>
        <!-- <a class="col-sm-2" href="#">全文显示</a> -->
        <% } %>
        <a class="col-sm-1" href="#pressPraise/<%=data['a_id']%>">点赞</a>
        <br />
        <span class="subscriptShow col-sm-12">
            <a class="col-sm-2" href="#subscript/mid/<%=data['m_id']%>">該篇作者</a>
            <% if(data['asid'] != "0") { %>
            <a class="col-sm-2" href="#subscript/asid/<%=data['asid']%>">該篇系列</a>
            <% } %>
            <a class="col-sm-2" href="#subscript/aid/<%=data['a_id']%>">
            <% if(isSubScript) { %>
                已訂閱文章
            <% } else { %>
                該篇文章
            <% } %>
            </a>
            <label class="col-sm-2">訂閱</label>
            <a class="col-sm-2" href="#bookmark/<%=data['a_id']%>">
            <% if(isBook) { %>
                已收藏
            <% } else { %>
                收藏此章節
            <% } %>
            </a>
            <label class="col-sm-1">書籤</label>
        </span>
    </div>
</script>

<script id="msgListTem" type="text/template">
    <h2>我要留言</h2>
    <textarea id="msgInput" class="col-xs-12" placeholder="留言输入区，登入者才可留言，最多可输入5000字"></textarea>
    <br />
    <button id="msgSend">送出留言</button>
    <hr />
    <% var msgCounter = 1; %>
    <% _.each(data, function(item) { %>
    <div class="userMsg col-xs-12">
        <img src="<%=item['headImg']%>" />
        <h5 class="col-xs-10"><%=item['m_user']%><label class="msCrTime"><%=item['ms_crtime']%></label></h5>
        <div class="col-xs-10"><%=item['ms_text']%></div>
        <% if(item['isMe'] == true) { %>
        <div class="col-xs-12 operPanel">
            <a href="#delMsg/<%=item['ms_id']%>" class="col-xs-1">刪除</a>
        </div>
        <% } %>
        <% if(item['ms_reply'] != "") { %>
        <div class="reply col-xs-12">
            <label>&nbsp;</label>
            <img src="<%=authorImg%>" />
            <%=item['ms_reply']%>
        </div>
        <% if(isAuthor == true) { %>
        <div class="col-xs-12 operPanel">
            <a href="#delMsgReply/<%=item['ms_id']%>" class="col-xs-1">刪除</a>
        </div>
        <% } %>
        <% } %>
    </div>
    <% ++msgCounter; %>
    <% }); %>
</script>

<script id="pagerTem" type="text/template">
    <% pageSum = Math.ceil(amount / pageLimit); %>
    <a class="right-arrow" href="article.html#article/<%=aid%>/<%=(parseInt(nowPage)+1 <= pageSum ?parseInt(nowPage)+1: nowPage)%>">&rsaquo;</a>
    <% for(idx = pageSum; idx >= 1;--idx) { %>
        <% if(idx == nowPage) { %>
        <label><%=idx%></label>
        <% } else { %>
        <a href="article.html#article/<%=aid%>/<%=idx%>"><%=idx%></a>
        <% } %>
    <% } %>
    <a class="left-arrow" href="article.html#article/<%=aid%>/<%=(nowPage-1 > 0 ?nowPage-1: nowPage)%>">&lsaquo;</a>
</script>
