<script id="contentTem" type="text/template">
    <div class="operPanel col-xs-12">
        <% 
        var prevCh = {};
        prevCh['aid'] = 0;
        var nextCh = {};
        nextCh['aid'] = 0;
        %>
        <% if(typeof(articles) == "undefined") { 
            } else {
            var counter = 1;
        %>
        <select class="col-sm-2" name="selectCh">
            <option>选择章节</option>
        <% _.each(articles, function(item) { %>
            <option value="<%=item['a_id']%>">Ch<%=counter++%> <%=item['a_aTitle']%></option>
        <% }); %>
            <!--
            <option>Ch4 章節標題</option>
            <option>Ch5 章節標題</option>
            -->
        </select>
        <% 
        for(var i = 0; i < articles.length-1;++i) {
            if(articles[i]['a_id'] == data['a_id'] && i == 0) {
                prevCh['aid'] = articles[i]['a_id'];
                break;
            }
            else if(articles[i+1]['a_id'] == data['a_id']) {
                prevCh['aid'] = articles[i]['a_id'];
                break;
            }
        }
        for(var i = articles.length-1;i > 0;--i) {
            if(articles[i]['a_id'] == data['a_id'] && i == articles.length-1) {
                nextCh['aid'] = articles[i]['a_id'];
                break;
            }
            else if(articles[i-1]['a_id'] == data['a_id']) {
                nextCh['aid'] = articles[i]['a_id'];
                break;
            }
        }
        %>
        <a class="col-sm-2" href="#article/<%=nextCh['aid']%>">後一章节</a>
        <a class="col-sm-2" href="#article/<%=(prevCh['aid']!=0?prevCh['aid']:data['a_id'])%>">前一章节</a>
        <!-- <a class="col-sm-2" href="#">全文显示</a> -->
        <% } %>
        <a class="col-sm-1" href="#pressPraise/<%=data['a_id']%>">点赞</a>
    </div>
    <div class="articleItem">
        <% if($.trim(data['as_name']) != "") { %>
        系列：<label><%=data['as_name']%></label>
        <% } %>
        分級：<label><%=data['a_level']%></label> 
        属性：<label><%=(data['a_attr']=="article"?"文":"推文")%></label> 
        章节：<label><%=data['a_chapter']%> / <%=data['at_lastCh']!=0?data['at_lastCh']:"?"%></label>
        更新日期：<label><%=data['a_crtime']%></label> <br />
        <h4>主CP：<%=data['a_mainCp']%></h4>
        <h4>主CP2：<%=data['a_mainCp2']%></h4>
        <h4>副CP：<%=data['a_subCp']%></h4>
        <h4>警告：<%=data['a_alert']%></h4>
        <h4>标签：<%=data['a_tag']%></h4>
        <span class="col-xs-6">
        <% if(data['as_finally'] != null) { %>
            章节：<label><%=data['a_chapter']%>/<%=data['as_finally']%></label> 
        <% } %>
        赞：<label><%=data['praiseAmount']%></label> 点击数：<label></label> 
        </span><br />
    </div>
    <div class="articleData">
        <hr />
        <h2><%=data['at_title']%></h2>
        <h3><%=data['m_user']%><!--作者名称--></h3>
        <% if(data['a_memo'] != null) { %>
        <hr />
        <div class="memo">
            <h5>章节备注</h5>
            <%=data['a_memo']%>
        </div>
        <% } %>
        <hr />
        <div class="articleContent">
            <h3><%=data['a_aTitle']%></h4>
            <%=data['a_content']%>
        </div>
    </div>
    <div class="operPanel col-xs-12">
        <% 
        var prevCh = {};
        prevCh['chapter'] = 0;
        prevCh['aid'] = 0;
        var nextCh = {};
        nextCh['chapter'] = 9999999;
        nextCh['aid'] = 0;
        %>
        <% if(typeof(articles) == "undefined") { 
            } else {
        %>
        <select class="col-sm-2" name="selectCh">
            <option>选择章节</option>
        <% _.each(articles, function(item) { %>
            <option value="<%=item['a_id']%>"><%=item['a_aTitle']%></option>
        <% }); %>
            <!--
            <option>Ch4 章節標題</option>
            <option>Ch5 章節標題</option>
            -->
        </select>
        <% 
        for(var i = 0; i < articles.length-1;++i) {
            if(articles[i]['a_id'] == data['a_id'] && i == 0) {
                prevCh['aid'] = articles[i]['a_id'];
                break;
            }
            else if(articles[i+1]['a_id'] == data['a_id']) {
                prevCh['aid'] = articles[i]['a_id'];
                break;
            }
        }
        for(var i = articles.length-1;i > 0;--i) {
            if(articles[i]['a_id'] == data['a_id'] && i == articles.length-1) {
                nextCh['aid'] = articles[i]['a_id'];
                break;
            }
            else if(articles[i-1]['a_id'] == data['a_id']) {
                nextCh['aid'] = articles[i]['a_id'];
                break;
            }
        }
        %>
        <a class="col-sm-2" href="#article/<%=nextCh['aid']%>">後一章节</a>
        <a class="col-sm-2" href="#article/<%=(prevCh['aid']!=0?prevCh['aid']:data['a_id'])%>">前一章节</a>
        <!-- <a class="col-sm-2" href="#">全文显示</a> -->
        <% } %>
        <a class="col-sm-1" href="#pressPraise/<%=data['a_id']%>">点赞</a>
    </div>
</script>
<script id="msgListTem" type="text/template">
    <h2>我要留言</h2>
    <textarea id="msgInput" class="col-xs-12" placeholder="留言输入区，登入者才可留言，最多可输入5000字"></textarea>
    <br />
    <button id="msgSend">送出留言</button>
    <hr />
    <% _.each(data, function(item) { %>
    <div class="userMsg col-xs-12">
        <img src="<%=item['headImg']%>" />
        <h5 class="col-xs-6"><%=item['m_user']%></h5>
        <div class="col-xs-6"><%=item['ms_text']%></div>
    </div>
    <% }); %>
</script>
