<script id="getMessage" type="text/template">
    <ol class="breadcrumb">
        <li><a href="index.html">首页</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li class="active">收到的留言</li>
    </ol>
    <table class="table table-condensed">
        <thead>
            <tr>
                <td>留言名称</td>
                <td>留言內容</td>
                <td>留言時間</td>
            </tr>
        </thead>
        <tbody>
            <% _.each(data, function(item) { %>
            <tr>
                <td><%=item['m_user']%></td>
                <td><%=item['ms_text']%></td>
                <td><%=item['ms_crtime']%></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</script>
