<script id="getMessage" type="text/template">
    <ol class="breadcrumb">
        <li><a href="index.html">首页</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li class="active">收到的留言</li>
    </ol>
    <table class="table table-condensed">
        <thead>
            <tr>
                <td>留言名称</td>
                <td>文章标题</td>
                <td>留言內容</td>
                <td>章节</td>
                <td>留言時間</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <% _.each(data, function(item) { %>
            <tr>
                <td><%=item['m_user']%></td>
                <td><%=item['at_title']%></td>
                <td><%=item['ms_text']%></td>
                <td><%=item['a_chapter']%>/<%=(item['at_lastCh']==0?"?":item['at_lastCh'])%></td>
                <td><%=item['ms_crtime']%></td>
                <td>
                    <a class="glyphicon glyphicon-share-alt" href="#" alt="回复"></a>
                    <a class="glyphicon glyphicon-trash" href="#" alt="删除"></a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</script>

<script id="pagerTem" type="text/template">
    <% pageSum = Math.ceil(amount / pageLimit); %>
    <a class="right-arrow" href="#changePage/getMessage/<%=(parseInt(nowPage)+1 <= pageSum ?parseInt(nowPage)+1: nowPage)%>/<%=pageLimit%>">&rsaquo;</a>
    <% for(idx = pageSum; idx >= 1;--idx) { %>
        <% if(idx == nowPage) { %>
        <label><%=idx%></label>
        <% } else { %>
        <a href="#changePage/getMessage/<%=idx%>/<%=pageLimit%>"><%=idx%></a>
        <% } %>
    <% } %>
    <a class="left-arrow" href="#changePage/getMessage/<%=(nowPage-1 > 0 ?nowPage-1: nowPage)%>/<%=pageLimit%>">&lsaquo;</a>
</script>
