<script id="getMessage" type="text/template">
    <ol class="breadcrumb">
        <li><a href="#">首頁</a></li>
        <li><a href="#">Dashboard</a></li>
        <li class="active">收到的留言</li>
    </ol>
    <table class="table table-condensed">
        <thead>
            <tr>
                <td>留言名稱</td>
                <td>留言內容</td>
                <td>留言時間</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>章面生</td>
                <td>留言內留言內留言內留言內容留言內容容容容留言內容</td>
                <td>2016-07-04 17:09:15</td>
            </tr>
            <tr>
                <td>章面生</td>
                <td>留言內留言內留言內留言內容留言內容容容容留言內容</td>
                <td>2016-07-03 17:09:15</td>
            </tr>
            <tr>
                <td>章面生</td>
                <td>留言內留言內留言內留言內容留言內容容容容留言內容</td>
                <td>2016-07-02 17:09:15</td>
            </tr>
            <tr>
                <td>章面生</td>
                <td>留言內留言內留言內留言內容留言內容容容容留言內容</td>
                <td>2016-07-01 17:09:15</td>
            </tr>
        </tbody>
    </table>
</script>
