<script id="headerNotLogin" type="text/template">
    <img src="imgs/LogoTemplate.png" />
    <!--
    <span class="col-xs-3">
        <a href="javascript:TSC('gb')">簡體</a> /
        <a href="javascript:TSC('big5')">繁體</a>
    </span>
    -->
    <div class="nav col-xs-12">
        <a class="nowChoose"  href="index.html">文章瀏覽</a>
        <a class=""  href="useExplan.html">使用說明</a>
        <a class="rightNav login" href="#">登入</a>
    </div>
    <form id="loginPanel" class="floatPanel" action="afterLogin.html">
        <div class="top-arrow"></div>
        <h3 class="col-xs-12">登入</h3>
        <input type="hidden" name="instr" value="login" />
        <span class="col-xs-3">帳號</span><input class="col-xs-9 input" type="text" name="user" />
        <span class="col-xs-3">密碼</span><input class="col-xs-9 input" type="password" name="pass" />
        <span class="col-xs-3"><img src="instr.php?instr=captchaLogin" /></span><input class="col-xs-9 input" type="text" name="captcha" />
        <input type="checkbox" name="rememberMe" />記住我<a class="forget" href="#">忘記密碼</a>
        <button class="col-xs-12 loginBtn">登入</button>
        <hr />
        新使用者
        <a class="col-xs-12 register" href="register.html">註冊</a>
    </form>
    <form id="registerPanel" class="floatPanel" action="afterRegister.html">
        <div class="top-arrow"></div>
        <h3 class="col-xs-12">註冊</h3>
        <span class="col-xs-3">帳號</span><input class="col-xs-9 input" type="text" name="user" />
        <span class="col-xs-3">密碼</span><input class="col-xs-9 input" type="password" name="pass" />
        <span class="col-xs-3">信箱</span><input class="col-xs-9 input" type="text" name="email" />
        <span class="col-xs-3"><img src="instr.php?instr=captchaRegister" /></span><input class="col-xs-9 input" type="text" name="captcha" />
        <button class="col-xs-12">註冊</button>
    </form>
</script>

<script id="headerLogin" type="text/template">
    <img src="imgs/LogoTemplate.png" />
    <div class="nav col-xs-12">
        <a class="" href="dashboard.html">Dashboard</a>
        <a class="nowChoose"  href="index.html">文章瀏覽</a>
        <a class="" href="postArticle.html">發文</a>
        <a class=""  href="useExplan.html">使用說明</a>
        <a class="rightNav status" href="#">登入者帳號<div class="bottom-arrow"></div></a>
    </div>
    <form id="memberPanel" class="floatPanel" action="index.html">
        <div class="top-arrow"></div>
        <h3 class="col-xs-12 memHello">XXX 您好！</h3>
        我的禮物 : <label>功能未開放</label> <br />
        我的訂閱 : <label>功能未開放</label> <br />
        收到的評論 : <label>功能未開放</label> <br />
        <hr />
        <button class="col-xs-12 logout">登出</button>
    </form>
</script>
