<script id="headerNotLogin" type="text/template">
    <img src="imgs/LogoTemplate.png" />
    <!--
    <span class="col-xs-3">
        <a href="javascript:TSC('gb')">简体</a> /
        <a href="javascript:TSC('big5')">繁體</a>
    </span>
    -->
    <div class="nav col-xs-12">
        <a class="nowChoose"  href="index.html">文章浏览</a>
        <a class="" href="search.html">搜尋</a>
        <a class=""  href="useExplan.html">使用说明</a>
        <a class="rightNav login" href="#">登入</a>
    </div>
    <form id="loginPanel" class="floatPanel" action="afterLogin.html">
        <div class="top-arrow"></div>
        <h3 class="col-xs-12">登入</h3>
        <input type="hidden" name="instr" value="login" />
        <span class="col-xs-3">帐号</span><input class="col-xs-9 input" type="text" name="user" />
        <span class="col-xs-3">密码</span><input class="col-xs-9 input" type="password" name="pass" />
        <span class="col-xs-3"><img src="instr.php?instr=captchaLogin" /></span><input class="col-xs-9 input" type="text" name="captcha" />
        <input type="checkbox" name="rememberMe" />記住我<a class="forget" href="fogetPass.html">忘記密码</a>
        <button class="col-xs-12 loginBtn">登入</button>
        <hr />
        新使用者
        <a class="col-xs-12 register" href="register.html">注册</a>
    </form>
    <form id="registerPanel" class="floatPanel" action="afterRegister.html">
        <div class="top-arrow"></div>
        <h3 class="col-xs-12">注册</h3>
        <span class="col-xs-3">帐号</span><input class="col-xs-9 input" type="text" name="user" />
        <span class="col-xs-3">密码</span><input class="col-xs-9 input" type="password" name="pass" />
        <span class="col-xs-3">信箱</span><input class="col-xs-9 input" type="text" name="email" />
        <span class="col-xs-3"><img src="instr.php?instr=captchaRegister" /></span><input class="col-xs-9 input" type="text" name="captcha" />
        <button class="col-xs-12">注册</button>
    </form>
</script>

<script id="headerLogin" type="text/template">
    <img src="imgs/LogoTemplate.png" />
    <div class="nav col-xs-12">
        <a class="" href="dashboard.html">控制面板</a>
        <a class="nowChoose"  href="index.html">文章浏览</a>
        <a class="" href="postArticle.html">发文</a>
        <a class="" href="search.html">搜尋</a>
        <a class=""  href="useExplan.html">使用說明</a>
        <a class="rightNav status" href="#"><span>登入者帐号</span><div class="bottom-arrow"></div></a>
    </div>
    <form id="memberPanel" class="floatPanel" action="index.html">
        <div class="top-arrow"></div>
        <h3 class="col-xs-12 memHello">XXX 您好！</h3>
        我的礼物 : <label class="myGiftAmount"></label> <br />
        我的订阅 : <label class="mySubscriptAmount">功能未开放</label> <br />
        收到的留言 : <label class="myMsgAmount"></label> <br />
        收到的赞 : <label class="myPraiseAmount"></label> <br />
        <hr />
        <button class="col-xs-12 logout">登出</button>
    </form>
</script>
