<script id="contentTem" type="text/template">
    <% _.each(data, function(item) { %>
    <div class="articleItem">
        <h3><a href="article.html#article/<%=item['a_id']%>/1"><%=item['at']['at_title']%></a>
            <% if($.trim(item['at']['as_name']) != "") { %>
                （<%=item['at']['as_name']%>）
                <% } %>
            By <%=item['at']['m_user']%>
        </h3>
        分級：<label><%=item['a_level']%></label> 
        属性：<label><%=(item['a_attr']=="article"?"文":"推文")%></label> 
        章节：<label><%=item['a_chapter']%>/<%=item['at']['at_lastCh']%></label>
        更新日期：<label><%=item['at']['at_updtime']%></label> <br />
        <% if(item['a_mainCp'] != "") { %>
        <h4>主CP：<%=item['a_mainCp']%></h4>
        <% } %>
        <% if(item['a_mainCp2'] != "") { %>
        <h4>主CP2：<%=item['a_mainCp2']%></h4>
        <% } %>
        <% if(item['a_subCp'] != "") { %>
        <h4>副CP：<%=item['a_subCp']%></h4>
        <% } %>
        <% if(item['a_alert'] != "") { %>
        <h4>警告：<%=item['a_alert']%></h4>
        <% } %>
        <% if(item['a_tag'] != "") { %>
        <h4>标签：<%=item['a_tag']%></h4>
        <% } %>
        <span class="col-xs-6">
        <% if(item['as_finally'] != null) { %>
            章节：<label><%=item['a_chapter']%>/<%=item['as_finally']%></label> 
        <% } %>
            <label>赞：</label>
            <%=(item['praiseAmount']!=null?item['praiseAmount']:0)%> 
            <label>点击数：</label><%=item['a_clickCount']%> 
            <label>收藏数：</label><%=item['at']['bookmarkCount']%> 
            <label>订阅数：</label><%=item['at']['subscriptCount']%> 
        </span>
        <br />
    </div>
    <hr />
    <% }); %>
    <!--
    <div class="articleItem">
        <h3><a href="article.html">文章標題</a>（系列名稱）By作者名稱</h3>
        分級：<label>Gen</label> 屬性：<label>文</label> 更新日期：<label>2016/05/24</label> <br />
        <h4>主CP：</h4>
        <h4>副CP：</h4>
        <h4>警告：</h4>
        <h4>標籤：</h4>
        <span class="col-xs-6">章节：<label>3/?</label> <!--讚：<label></label> 點擊數：<label></label> </span><br />
    </div>
    -->
</script>

<script id="pagerTem" type="text/template">
    <% pageSum = Math.ceil(amount / pageLimit); %>
    <a class="right-arrow" href="#/<%=(parseInt(nowPage)+1 <= pageSum ?parseInt(nowPage)+1: nowPage)%>">&rsaquo;</a>
    <% for(idx = pageSum; idx >= 1;--idx) { %>
        <% if(idx == nowPage) { %>
        <label><%=idx%></label>
        <% } else { %>
        <a href="#/<%=idx%>"><%=idx%></a>
        <% } %>
    <% } %>
    <a class="left-arrow" href="#/<%=(nowPage-1 > 0 ?nowPage-1: nowPage)%>">&lsaquo;</a>
</script>
