<script id="myBookmartListTem" type="text/template">
    <ol class="breadcrumb">
        <li><a href="index.html">首页</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li class="active">我的书签</li>
    </ol>
    <table class="table table-condensed">
        <thead>
            <tr>
                <td>文章标题</td>
                <td>分級</td>
                <!--
                <td>系列</td>
                -->
                <td>章节</td>
                <td>订阅时间</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <% _.each(data, function(item) { %>
            <tr>
                <td>
                    <a href="article.html#article/<%=item['a_id']%>/1">
                        <%=item['at_title']%>
                    </a>
                </td>
                <td><%=item['a_level']%></td>
                <!--
                <td><%=item['as_name']%></td>
                -->
                <td><%=item['a_chapter']%>/<%=(item['at_lastCh']!=0?item['at_lastCh']:"?")%></td>
                <td><%=item['b_crtime']%></td>
                <td>
                    <a class="glyphicon glyphicon-trash" href="#bookmarkCancel/<%=item['a_id']%>"></a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</script>

<script id="pagerTem" type="text/template">
    <% pageSum = Math.ceil(amount / pageLimit); %>
    <a class="right-arrow" href="#myBookmark/<%=(parseInt(nowPage)+1 <= pageSum ?parseInt(nowPage)+1: nowPage)%>">&rsaquo;</a>
    <% for(idx = pageSum; idx >= 1;--idx) { %>
        <% if(idx == nowPage) { %>
        <label><%=idx%></label>
        <% } else { %>
        <a href="#myBookmark/<%=idx%>"><%=idx%></a>
        <% } %>
    <% } %>
    <a class="left-arrow" href="#myBookmark/<%=(nowPage-1 > 0 ?nowPage-1: nowPage)%>">&lsaquo;</a>
</script>

