<script id="myLastArticle" type="text/template">
    <ol class="breadcrumb">
        <li><a href="#">首頁</a></li>
        <li><a href="#">Dashboard</a></li>
        <li class="active">最新文章</li>
    </ol>
    <table class="table table-condensed">
        <thead>
            <tr>
                <td>文章標題</td>
                <td>分級</td>
                <td>系列</td>
                <td>修改時間</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>東少發威，咆嘯震天</td>
                <td>Gen</td>
                <td>東卯</td>
                <td>2016-01-03 12:13:54</td>
                <td>
                    <a class="glyphicon glyphicon-edit" href="#"></a>
                    <a class="glyphicon glyphicon-trash" href="#"></a>
                </td>
            </tr>
            <tr>
                <td>東少發威，咆嘯震天</td>
                <td>Gen</td>
                <td>東卯</td>
                <td>2016-01-03 12:13:54</td>
                <td>
                    <a class="glyphicon glyphicon-edit" href="#"></a>
                    <a class="glyphicon glyphicon-trash" href="#"></a>
                </td>
            </tr>
            <tr>
                <td>東少發威，咆嘯震天</td>
                <td>Gen</td>
                <td>東卯</td>
                <td>2016-01-03 12:13:54</td>
                <td>
                    <a class="glyphicon glyphicon-edit" href="#"></a>
                    <a class="glyphicon glyphicon-trash" href="#"></a>
                </td>
            </tr>
            <tr>
                <td>東少發威，咆嘯震天</td>
                <td>Gen</td>
                <td>東卯</td>
                <td>2016-01-03 12:13:54</td>
                <td>
                    <a class="glyphicon glyphicon-edit" href="#"></a>
                    <a class="glyphicon glyphicon-trash" href="#"></a>
                </td>
            </tr>
            <tr>
                <td>東少發威，咆嘯震天</td>
                <td>Gen</td>
                <td>東卯</td>
                <td>2016-01-03 12:13:54</td>
                <td>
                    <a class="glyphicon glyphicon-edit" href="#"></a>
                    <a class="glyphicon glyphicon-trash" href="#"></a>
                </td>
            </tr>
        </tbody>
    </table>
</script>
