<script id="mySeries" type="text/template">
    <ol class="breadcrumb">
        <li><a href="index.html">首页</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li class="active">我的系列</li>
    </ol>
    <div class="operating">
        <a href="#addSeries">
            <button>新增系列</button>
        </a>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <td>系列名称</td>
                <td>含有篇数</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <% _.each(data, function(item) { %>
            <tr>
                <td><%=item['as_name']%></td>
                <td><%=item['articleCount']%></td>
                <td>
                    <a class="glyphicon glyphicon-edit" href="#editSeries/<%=item['as_id']%>/1"></a>
                    <a class="glyphicon glyphicon-trash" href="#delSeries/<%=item['as_id']%>"></a>
                </td>
            </tr>
            <% }); %>
            <!--
            <tr>
                <td>常歌</td>
                <td>8</td>
                <td>
                    <a class="glyphicon glyphicon-edit" href="#"></a>
                    <a class="glyphicon glyphicon-trash" href="#"></a>
                </td>
            </tr>
            -->
        </tbody>
    </table>
</script>
<script id="pagerTem" type="text/template">
    <% pageSum = Math.ceil(amount / pageLimit); %>
    <a class="right-arrow" href="#changePage/mySeries/<%=(parseInt(nowPage)+1 <= pageSum ?parseInt(nowPage)+1: nowPage)%>/<%=pageLimit%>">&rsaquo;</a>
    <% for(idx = pageSum; idx >= 1;--idx) { %>
        <% if(idx == nowPage) { %>
        <label><%=idx%></label>
        <% } else { %>
        <a href="#changePage/mySeries/<%=idx%>/<%=pageLimit%>"><%=idx%></a>
        <% } %>
    <% } %>
    <!--
    <label>1</label>
    <a href="#changePage/mySeries/2/10/">2</a>
    <a href="#changePage/mySeries/3/10/">3</a>
    -->
    <a class="left-arrow" href="#changePage/mySeries/<%=(nowPage-1 > 0 ?nowPage-1: nowPage)%>/<%=pageLimit%>">&lsaquo;</a>
</script>
