<script id="personal" type="text/template">
    <form id="personalForm" action="instr.php" method="post">
        <input type="hidden" name="instr" value="personalUpd" />
        <div class="col-xs-12">
            <img src="<%=data['headImg']%>" />
            <h5 class="col-xs-6">使用者帐号</h5>
            <h5 class="col-xs-6"><%=data['m_user']%></h5>
        </div>
        <div class="col-xs-12">
            <label class="col-xs-3">email : </label>
            <input class="col-xs-6" type="text" name="email" value="<%=data['m_email']%>" />
            <br />
        </div>
        <button class="col-xs-3">修改</button>
        <label>我的文章数量 : </label><span> 尚未開放 </span><br />
    </form>
    <form id="personalImg" action="instr.php" method="post">
        <input type="hidden" name="instr" value="personalImg" />
        <div class="col-xs-12">
            <label class="col-xs-3">图像上传 : </label>
            <input class="col-xs-6" type="file" name="file[]" />
            <br />
        </div>
        <button class="col-xs-3">上传</button>
    </form>
</script>
