<script id="resetPass" type="text/template">
    <form id="passUpdForm" action="instr.php" method="post">
        <input type="hidden" name="instr" value="passReset" />
        <div class="col-xs-12">
            <label class="col-xs-3">使用者帳號</label>
            <span class="col-xs-6">test123456</span>
        </div>
        <div class="col-xs-12">
            <label class="col-xs-3">舊密碼 : </label>
            <input class="col-xs-6 validate[required]" type="password" name="oldPass" />
            <br />
        </div>
        <div class="col-xs-12">
            <label class="col-xs-3">新密碼 : </label>
            <input class="col-xs-6 validate[required]" type="password" id="newPass" name="newPass" />
            <br />
        </div>
        <div class="col-xs-12">
            <label class="col-xs-3">新密碼確認 : </label>
            <input class="col-xs-6 validate[required, equals[newPass]]" type="password" name="newPassConfirm" />
            <br />
        </div>
        <button class="col-xs-3">確定</button>
    </form>
</script>

