<script id="searchResTem" type="text/template">
    <div class="articleItem">
        <h3><a href="article.html">文章标题</a>（系列名称）By作者名称</h3>
        分級：<label>Gen</label> 属性：<label>文</label> 更新日期：<label>2016/05/24</label> <br />
        <h4>主CP：</h4>
        <h4>副CP：</h4>
        <h4>警告：</h4>
        <h4>标签：</h4>
        <span class="col-xs-6">章节：<label>3/?</label> 讚：<label></label> 點擊數：<label></label> </span><br />
    </div>
</script>

<script id="pagerTem" type="text/template">
    <% pageSum = Math.ceil(amount / pageLimit); %>
    <a class="right-arrow" href="#/<%=(parseInt(nowPage)+1 <= pageSum ?parseInt(nowPage)+1: nowPage)%>">&rsaquo;</a>
    <% for(idx = pageSum; idx >= 1;--idx) { %>
        <% if(idx == nowPage) { %>
        <label><%=idx%></label>
        <% } else { %>
        <a href="#/<%=idx%>"><%=idx%></a>
        <% } %>
    <% } %>
    <a class="left-arrow" href="#/<%=(nowPage-1 > 0 ?nowPage-1: nowPage)%>">&lsaquo;</a>
</script>
