<script id="searchResTem" type="text/template">
    <% _.each(data, function(item) { %>
    <div class="articleItem">
        <h3>
            <a href="article.html#article/<%=item['a_id']%>">
                <%=item['at_title']%>
            </a>
            <% if(item['as_id'] != null) { %>
            （<%=item['as_id']%>）
            <% } %>
            By <%=item['m_user']%>
        </h3>
        分級：<label><%=item['a_level']%></label> 
        属性：<label><%=(item['a_attr']=="article"?"文":"推文")%></label> 
        建立日期：<label><%=item['a_crtime']%></label> <br />
        <h4>主CP：<%=item['a_mainCp']%></h4>
        <% if(item['a_mainCp2'] != "") { %>
        <h4>副CP：<%=item['a_mainCp2']%></h4>
        <% } %>
        <% if(item['a_alert'] != "") { %>
        <h4>警告：<%=item['a_alert']%></h4>
        <% } %>
        <% if(item['a_tag'] != "") { %>
        <h4>标签：<%=item['a_tag']%></h4>
        <% } %>
        <span class="col-xs-6">
            章节：<label><%=item['a_chapter']%>/<%=(item['at_lastCh']=="0"?"?":item['at_lastCh'])%></label> 
            <!--
            讚：<label></label> 
            點擊數：<label></label> 
            -->
        </span><br />
    </div>
    <% }); %>
</script>

<script id="pagerTem" type="text/template">
    <% pageSum = Math.ceil(amount / pageLimit); %>
    <a class="right-arrow" href="#/<%=(parseInt(nowPage)+1 <= pageSum ?parseInt(nowPage)+1: nowPage)%>">&rsaquo;</a>
    <% for(idx = pageSum; idx >= 1;--idx) { %>
        <% if(idx == nowPage) { %>
        <label><%=idx%></label>
        <% } else { %>
        <a href="#/<%=idx%>"><%=idx%></a>
        <% } %>
    <% } %>
    <a class="left-arrow" href="#/<%=(nowPage-1 > 0 ?nowPage-1: nowPage)%>">&lsaquo;</a>
</script>
