<script id="articleListTem" type="text/template">
    <div id="operatingPanel">
        <ol class="breadcrumb">
            <li><a href="#">首頁</a></li>
            <li class="active">會員列表</li>
        </ol>
    </div>
    <form action="instr.php" method="post" class="col-xs-12 searchForm">
        <input type="hidden" name="instr" value="articleSearch" />
        <input type="hidden" name="nowPage" value="1" />
        <h4>文章搜尋</h4>
        <label class="col-xs-2">使用者帳號:</label><input class="col-xs-7" type="text" name="search" />
        <button class="col-xs-2">搜尋</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <td>文章名稱</td>
                <td>發表會員</td>
                <!--
                <td>狀態</td>
                -->
                <td>修改日期</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <%
            console.log(data);
            _.each(data, function(item) {
            %>
            <tr>
                <td><%=item['at_title']%></td>
                <td><%=item['m_user']%></td>
                <!--
                <td>
                    <select>
                        <option>啟用</option>
                        <option>禁用</option>
                    </select>
                </td>
                -->
                <td><%=item['a_updtime']%></td>
                <td>
                    <a href="#del/<%=item['a_id']%>" class="glyphicon glyphicon-trash"></a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</script>

<script id="pagerTem" type="text/template">
    <% pageSum = Math.ceil(amount / pageLimit); %>
    <% //console.log(pageSum);%>
    <% //console.log(nowPage);%>
    <a class="right-arrow" href="#list/<%=(parseInt(nowPage)+1 <= pageSum ?parseInt(nowPage)+1: nowPage)%>">&rsaquo;</a>
    <% console.log(parseInt(nowPage)+1);%>
    <% for(idx = pageSum; idx >= 1;--idx) { %>
        <% if(idx == nowPage) { %>
        <label><%=idx%></label>
        <% } else { %>
        <a href="#list/<%=idx%>"><%=idx%></a>
        <% } %>
    <% } %>
    <a class="left-arrow" href="#list/<%=(nowPage-1 > 0 ?nowPage-1: nowPage)%>">&lsaquo;</a>
</script>

