<script id="memberListTem" type="text/template">
    <div id="operatingPanel">
        <ol class="breadcrumb">
            <li><a href="#">首頁</a></li>
            <li class="active">會員列表</li>
        </ol>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>帳號</td>
                <td>會員Email</td>
                <td>狀態</td>
                <!--
                <td>建立日期</td>
                -->
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <% 
            _.each(data, function(item) { 
            %>
            <tr>
                <td><%=item['m_user']%></td>
                <td><%=item['m_email']%></td>
                <td>
                    <select name="active" mid="<%=item['m_id']%>">
                        <option <%=(item['m_active'] == "Y" ? "selected" : "")%> value="Y">啟用</option>
                        <option <%=(item['m_active'] == "N" ? "selected" : "")%> value="N">不啟用</option>
                        <option <%=(item['m_active'] == "D" ? "selected" : "")%> value="D">禁用</option>
                    </select>
                </td>
                <!--
                <td></td>
                -->
                <td>
<!--
                    <a href="#" class="glyphicon glyphicon-file"></a>
-->
                    <a href="#del/<%=item['m_id']%>" class="glyphicon glyphicon-trash"></a>
                </td>
            </tr>
            <% }); %>
<!--
            <tr>
                <td>test2561@test.com.tw</td>
                <td>郾愈新</td>
                <td>
                    <select>
                        <option>不啟用</option>
                        <option>啟用</option>
                    </select>
                </td>
                <td>2014-05-11 22:33:40</td>
                <td>
                    <a href="#" class="glyphicon glyphicon-file"></a>
                    <a href="#" class="glyphicon glyphicon-trash"></a>
                </td>
            </tr>
-->
        </tbody>
    </table>
</script>

<script id="pagerTem" type="text/template">
    <% pageSum = Math.ceil(amount / pageLimit); %>
    <a class="right-arrow" href="#list/<%=(parseInt(nowPage)+1 <= pageSum ?parseInt(nowPage)+1: nowPage)%>">&rsaquo;</a>
    <% for(idx = pageSum; idx >= 1;--idx) { %>
        <% if(idx == nowPage) { %>
        <label><%=idx%></label>
        <% } else { %>
        <a href="#list/<%=idx%>"><%=idx%></a>
        <% } %>
    <% } %>
    <a class="left-arrow" href="#list/<%=(nowPage-1 > 0 ?nowPage-1: nowPage)%>">&lsaquo;</a>
</script>
